.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}
h1{
    width: 500px;
    /* display: flex; */
    /* align-items: left; */
    /* text-align: left; */
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    
}
input{
    border: none;
    border-bottom: 2px solid white;
    padding: 15px;
    background-color: transparent;
    color: white;
    outline: none;

}
button{
    width: 100px;
    background-color: white;
    padding: 10px;
}